<apex:component >
 
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>Honeywell LCBS Contractor Portal</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/sticky-footer.css" rel="stylesheet"/>

    <!-- Custom styles for Honeywell LCBS template -->
    <link href="css/honeywell-lcbs.css" rel="stylesheet"/>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index-contractor.html">LCBS: Contractor View</a>

        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Buildings<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="contractor-owners.html">Building Owners</a></li>
            <li><a href="contractor-building-locations.html">Buildings</a></li>
            <li><a href="thermostats.html">Thermostats</a></li>
          </ul>
        </li>
              <li><a href="#">Alerts</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reports<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Report 1</a></li>
            <li><a href="#">Report 2</a></li>
            <li><a href="#">Report 3</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Company<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="contractor-profile.html">Profile</a></li>
            <li><a href="contractor-subscription.html">Subscription</a></li>
            <li><a href="contractor-users.html">Users</a></li>
          </ul>
        </li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#contact">About</a></li>
              <li><a href="#contact">Community</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<h1>Harriet Center</h1>
<div class="container">

<ol class="breadcrumb">
  <li><a href="contractor-building-locations.html"><strong>Return to Buildings</strong></a></li>
</ol>

<div class="row">
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="buildinglocation.html">Building Information</a></li>
  <li role="presentation"><a href="buildinglocation-ownercontacts.html">Building Contacts</a></li>
  <li role="presentation"><a href="buildinglocation-companycontacts.html">Contractor Assignments</a></li>
</ul>
<br/>

  <div class="col-md-8">

  <p><strong>Building Owner Company</strong>: Lake Calhoun Properties</p>

  <p><strong>Building Name</strong>: Harriet Center</p>

  <p><strong>Address 1</strong>: 123 Main St.</p>

  <p><strong>Address 2</strong>: Suite 12</p>

  <p><strong>City</strong>: Springfield</p>

  <p><strong>Country</strong>: United States</p>

  <p><strong>State</strong>: Minnesota</p>

  <p><strong>Postal Code</strong>: 45459</p>

  <p><strong>Time Zone</strong>: Central Standard Time</p>


<a href="edit-buildinglocation.html" class="btn btn-primary" role="button">Edit</a>

</div>
</div>


     

    </div><!-- /.container -->
    <footer class="footer">
      <div class="container">
        <div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-ok"></span> Approved by product owners on March 11, 2015.</div>
      </div>
    </footer>

<!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
</apex:component>