<apex:component controller="LCBSNavigation">
    
    <!-- <apex:stylesheet value="{!URLFOR('https://az843473.vo.msecnd.net/lcbs-css/core.css')}"/> -->
   <!-- <apex:stylesheet value="{!URLFOR('https://az843473.vo.msecnd.net/css/core.css')}"/> -->
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_SFDCCoreCSS, 'CSS/sfdc-core.min.css')}"/>
    <!-- JAVA Script -->
    <apex:includescript value="https://code.jquery.com/jquery-1.11.1.min.js" / >
    
    <!-- <apex:includescript value="https://code.jquery.com/jquery-1.12.0.min.js" / > -->
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
    <script>
        j$ = jQuery.noConflict();
    </script>
    <script>
      j$(document).ready( function () {
          j$('.dropdown-toggle').dropdown();
      });
    </script>
    <script type="text/javascript">  
          function helpPage(){
            <!-- window.location = "https://ssoazure--devlcbs--c.cs17.visual.force.com/apex/LCBS_HelpIndexPage";-->
             HelpIndexPage();
          }
    </script>
    
    <style type="text/css">
        
        /* Typography */
        @font-face {
            font-family: 'Honeywell Sans Book';
            src: url("{!URLFOR($Resource.LCBS_fonts_latest, 'HoneywellSansWeb-Book.woff')}");
        }
        
        @font-face {
            font-family: 'Honeywell Sans';
            src: url("{!URLFOR($Resource.LCBS_fonts_latest, 'HoneywellSansWeb-Black.woff')}");
        }
        
        @font-face {
            font-family: 'Honeywell Sans Bold';
            src: url("{!URLFOR($Resource.LCBS_fonts_latest, 'HoneywellSansWeb-Bold.woff')}");            
        }
        
        @font-face {
            font-family: 'Honeywell Sans Medium';
            src: url("{!URLFOR($Resource.LCBS_fonts_latest, 'HoneywellSansWeb-Medium.woff')}"); 
        }
        
        /* Font changing */
        *{
           font-family: 'Honeywell Sans Book'; 
        }
        body .x-btn button, body .btn, body .btnImportant, body .btnDisabled, body .btnCancel, body .menuButton .menuButtonButton, body .menuButton .menuButtonMenu a, body .menuButton .menuButtonMenu input.theOption, h1, h2, h3, h4, h5, h6{
            font-family: 'Honeywell Sans Book';
        }
        h1, h2, h3, h4, h5, h6{
            font-family: 'Honeywell Sans Book'; 
        }
        html{
            font-family: 'Honeywell Sans Book';
        }
        
        /* Body Level */
        body a:hover {
            text-decoration: none;
            color: inherit;
        }
        body{
            font-size: 11rem !important;
        }
        iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{
            font-size: initial;
        }
        body > form{
            height: 100%;
        }
        
        /* custome */
        .contentTitle{
            font-family: 'Honeywell Sans Book';
            font-size: 2em;
            text-transform: capitalize;
            color: #303030;
            font-weight: normal;
        }
        .bodyText{
            font-family: 'Honeywell Sans Book';
            font-size: 1em;
            text-transform: initial;
            line-height: 1.25em;
        }
        .linkText{
            font-family: 'Honeywell Sans Book';
            font-size: 1em;
            color: #1792e5;
        }
        .smallLabelText{
            font-family: 'Honeywell Sans Bold';
            font-size: 0.92em;
            color: #707070;
            letter-spacing: 1rem;
            text-transform: uppercase;
        }
        .largeLabelText{
            font-family: 'Honeywell Sans Medium';
            font-size: 1.34em !important;
            color: #303030;
        }
        .tabHeader{
            font-family: 'Honeywell Sans Book';
            font-size: 16rem;
            text-transform: capitalize;
            color: #303030;
        }
        .formField{
            font-family: 'Honeywell Sans Book';
            font-size: 1em;
            padding: 10rem;
            width: 215px;
            height: 40px;
            color: #303030;
        }
        .titleCaseNavigation{
            font-family: 'Honeywell Sans Bold';
            font-size: 1.17em;
            text-transform: capitalize;
            letter-spacing: 1px;
        }
        
        /* Buttons */
        .cmn-btn{
            font-size: 14rem;
            font-family: 'Honeywell Sans Bold';
            text-transform: uppercase;
            padding-top: 12rem;
            padding-bottom: 12rem;
            padding-right: 15rem;
            padding-left: 15rem;
            
            -webkit-box-shadow: 0rem 0rem 3rem 1rem rgba(0,0,0,0.28);
            -moz-box-shadow: 0rem 0rem 3rem 1rem rgba(0,0,0,0.28);
            -ms-box-shadow: 0rem 0rem 3rem 1rem rgba(0,0,0,0.28);
            -o-box-shadow: 0rem 0rem 3rem 1rem rgba(0,0,0,0.28);
            box-shadow: 0rem 0rem 3rem 1rem rgba(0,0,0,0.28);
        }
        .primaryButton{
            background-color: #1272b2;
            width: 145rem;
            height: 38rem;
            color: #ffffff;
        }
        .primaryButton:active{
            background-color: #1272B2;
            color: #ffffff;
        }
        .primaryButton:hover{
            background-color: #1483cd;
            color: #ffffff;
        }
        
        .secondaryButton{
            width: 145rem;
            height: 38rem;
            background-color: #f5f5f5;
        }
        .secondaryButton:hover{
            background-color: #ffffff;
        }
        .secondaryButton.active{
            background-color: #a0a0a0,;
            box-shadow: inset 0rem 0rem 3px 0rem rgba(0, 0, 0, 0.28);
        }        
        
        
        /* CORE CSS Overrides */
        .primary-button{
            background-color: #1483cd;
            font-family: 'Honeywell Sans Bold';  
            font-size: 1em; 
        }
        .primary-button:hover{
            background-color: #1792e5;
        }
        .primary-button:active{
            background-color: #1272B2;
        }
        .secondary-button{
            font-family: 'Honeywell Sans Bold';
            font-size: 1em;
            height: auto;
            padding: 10rem 30rem;
        }
        
        
        .primary-button:disabled, .secondary-button:disabled, .action-button:disabled{
            color: #a9a9a9;
            background-color: #d8d8d8;
            font-family: 'Honeywell Sans Bold';
            font-size: 1em;
        }
        
        .cmn-btn.inline, .cmn-btn.inline-block{
            width: auto;
            height: auto;
        }
        .cmn-btn.inline{
            display: inline;
        }
        .cmn-btn.inline-block{
            display: inline-block;
        }
        .cmn-btn.box-shadow-none{
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            -ms-box-shadow: none;
            -o-box-shadow: none;
            box-shadow: none;
        }
        
        .clear-btn{
            background-image: url('https://az843473.vo.msecnd.net/common-images/clear_icon.png');
            border: none;
            background-color: transparent;
            background-repeat: no-repeat;
            width: 38px;
            height: 38px;
            background-position: 50%;
            cursor: pointer;
        }
        .clear-btn:hover{
            border: 1px solid #e1e1e1;
            -webkit-box-shadow: inset 0 0px 6px -1px rgba(0,0,0,0.1);
            -moz-box-shadow: inset 0 0px 6px -1px rgba(0,0,0,0.1);
            -ms-box-shadow: inset 0 0px 6px -1px rgba(0,0,0,0.1);
            -o-box-shadow: inset 0 0px 6px -1px rgba(0,0,0,0.1);
            box-shadow: inset 0 0px 6px -1px rgba(0,0,0,0.1);
        }
        
        
        #main-tab header h1{
            text-transform: capitalize;
        }
        
        
        /* Body Inner */
        @media (min-width: 1025px){
            #body-inner {
                min-height: 100%;
                height: auto;
            }
        }
        
        .tab-content h1{
            font-family: 'Honeywell Sans Medium' !important;
        }
               
        
        /* TODO */
        @media (max-width: 1024px){
            .cmn-btn{margin-top: 5rem;padding:5rem;font-size: 10rem;}
            .cmn-btn.inline{display: inline-block;}    
        }
        
        /* Tabs */
        .tab-dropdown > .dropdown{display:none;}
        @media (max-width: 912px){
            .tab-content{padding: 0;}
            .tab-content #main-body{padding:0}
            .tab-content #main-body .main{
                padding-right: 0;
                -webkit-flex: 0 0 auto;
                -moz-flex: 0 0 auto;
                -ms-flex: 0 0 auto;
                -o-flex: 0 0 auto;
                flex: 0 0 auto;
                width: 100%;
            }
            
            nav.tabs{display:none;}
            .tab-dropdown{padding:5rem 20rem;}
            .tab-dropdown > .dropdown{display:block;block;background: #fff;padding: 10rem;}
            .tab-dropdown > .dropdown a{font-size: 16rem;color: #303030;display:block;}
            .tab-dropdown > .dropdown .dropdown-menu{top: 38rem;}
            .tab-dropdown > .dropdown a:hover{color: #1792e5;font-size: 16rem;}
            
        }
        /* TODO -- */
        .margin-bottom-20{
            margin-bottom: 20rem;
        }
        .margin-bottom-5{
            margin-bottom: 5px;
        }
        
        /* widget Box */
        .widget-box{
            background: #fff;
            padding: 20rem 15rem;
            width:100%;
        }
        @media (max-width: 1024px){
            .widget-box{padding: 5rem 0;}
        }
        
        
        
        /* Header */  
        /* TODO */     
        header#main-header .logo{
            background-image: url({!$Resource.Honeywell_Logo_Latest});
        }
        
        /* header#main-header .help{ */
            /* background-image: url({!$Resource.Honeywell_Help}); -- Old Logo */ 
         /*   background-image: url("https://az843473.vo.msecnd.net/common-images/help.png");
            background-size: 20rem 20rem;
            width: 20rem;
            margin-left: 5rem;
        } */
        /*lcbsCaret */
        .headerCaret{           
            background-image: url("https://az843473.vo.msecnd.net/common-images/right_arrow.png");
            float: right;
            /* position: fixed; */
            left: 0;
            width: 24px;
            height: 24px;
            /* background-size: 15px; */
            background-size: 8px;
            background-repeat: no-repeat;
            top: 21px;
            left: -26px;
            
            -o-transform: rotate(90deg); /* Opera */
            -ms-transform: rotate(90deg); /* IE 9 */
            -moz-transform: rotate(90deg); /* mozilla */
            -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
            transform: rotate(90deg);
        }

        ul li, ol li{
            margin-left: 0;
            padding-left: 0;
        }
        nav#main-nav a{
            font-family: 'Honeywell Sans Bold' !important;
        }
        #main-tab nav.tabs a{
            text-transform: uppercase;
            font-family: 'Honeywell Sans Bold' !important;
        }
        @media (min-width: 1025px){
            header#main-header .dropdown a:hover{color: inherit;}
            a.user-name.dropdown-toggle{
                
            }
        }
        
        /* Footer */
        footer, footer > section{
            font-size: 11rem;
        }
        
        /* Distbutor Contract Page Styles */
        #main-body{
            padding:15rem 20rem;
        }
        .rightSide{
            float: right;
        }
        .cpro-field{
            right: 0;
            bottom: 0;
            float: right;
            position:absolute;
        }
        .titleBar{
            width:100%;
            clear: both;
        }
        /* TODO */
        @media (max-width: 1024px){
            .cpro-field{position: relative;width: 100%;}
            .cpro-field > input[type="text"]{width:80%;}
            .formField{padding: 1rem;}
        }
        /* TODO  -- duplicate*/
        .requiredInput select, .condRequiredInput select, select{
            font-family: 'Honeywell Sans Book';
            font-size: 1em;
            padding: 10rem;
            /*width: 215px;
            height: 40px;
            color: #303030; */
        }
        @media (max-width: 1024px){
            .requiredInput select, .condRequiredInput select{
                padding: 1rem;
            }
        }
        
        /* Errors Handlings */
        #dispError{
            padding: 5px;
            border: 1px solid rgba(230, 80, 72, 0.3);
            background: rgba(230, 80, 72, 0.1);
            margin-top: 10px;
            border-radius: 4px;
            display:none;
        }
        #dispError label{
            border: 2px; */
            color: #E65048;
            /* font-size: 15px; */
            /* height: 20%; */
            /* width: 100%; */
            padding-top: -25%;
            /* padding-bottom: 8%; */
            /* margin-left: 8%; */
            margin-right: 2%;
            /* font-family: Honewell; */
            font-weight: 900;
            top: -8px;
            position: relative;
            /* height: 100%; */
            padding: -10px;
        }
        span.bodyText.required, label.bodyText.required{
            color: #E65048 !important;
        }
        label.bodyText.required{
            margin-left: 2%;
        }
        @media (min-width: 1025px){
            #dispError{
                max-width: 960rem;
                margin: 10px auto;
                -ms-flex: 0 0 auto;
                -webkit-flex: 0 0 auto;
                flex: 0 0 auto;
                width: 100%;
            }
            .cancel-save-block{
                max-width: 960rem;
                margin: 0 auto;
                margin-bottom: 30px;
            }
        }
        
        .pull-right{
            float: right;
        }
        
        /* Toggle Button */
        .onoffswitch {
            position: relative; width: 77px;
            -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
            display: inline-flex;
        }
        .onoffswitch > input[type="checkbox"]{
            opacity: 0 !important;
            visibility: hidden !important;
            display: none !important;
        }
        .onoffswitch-checkbox {
            display: none;
        }
        .onoffswitch-label {
            display: block; overflow: hidden; cursor: pointer;
            border: 2px solid #FFFFFF; border-radius: 23px;
        }
        .onoffswitch-inner {
            display: block; width: 200%; margin-left: -100%;
            transition: margin 0.3s ease-in 0s;
        }
        .onoffswitch-inner:before, .onoffswitch-inner:after {
            display: block; float: left; width: 50%; /*height: 20px;*/ padding: 0; line-height: 25px;
            font-size: 14px; color: white;
            box-sizing: border-box;
            /*border-radius: 23px;
            height: 27px; */
            padding-top:3px;
            
            background-size: 100% 27px;
            background-repeat: no-repeat;
        }
        .onoffswitch-inner:before {
            content: "ON";
            padding-left: 6px;
            /* background-color: #3AC74B; */
            color: #FFFFFF;
            background-image: url('https://az843473.vo.msecnd.net/toggle-images/toggle_on_bar.png');
        }
        .onoffswitch-inner:after {
            content: "OFF";
            padding-right: 10px;
            /* background-color: #EEEEEE; */
            color: #fff;
            text-align: right;
            background-image: url('https://az843473.vo.msecnd.net/toggle-images/toggle_off_bar.png');
        
        }
        .onoffswitch-switch {
            display: block; width: 29px;/* margin: 0.5px; */
            position: absolute; top: 0; bottom: 0;
            right: 38px;
            /*border: 1px solid #ddd; border-radius: 23px;*/
            transition: all 0.3s ease-in 0s;
            background-image: url('https://az843473.vo.msecnd.net/toggle-images/toggle_circle.png');
            background-size: 100%;
        }
        .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
            margin-left: 0;
        }
        .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
            right: -1px; 
        }
        .onoffswitch > label.onoffswitch-label,.onoffswitch > label.onoffswitch-label{
            margin-left: 0;
            padding-left: 0;
        }
        
        /* Select Box Styles */
        select.formField:before{
          -webkit-appearance: none;            /*Removes default chrome and safari style*/
          -moz-appearance: none;             /* Removes Default Firefox style*/
          background: url('dropdown_arrow.png') no-repeat;          /*Adds background-image*/
          background-position: 82px 7px;           /*Position of the background-image*/
          
          text-indent: 0.01px;          /* Removes default arrow from firefox*/
          text-overflow: "";               /*Removes default arrow from firefox*/
        }
        select.formField > option{
           /* padding: 15px; */
        }
        
        .edit-icon{
            background-image: url("{!URLFOR($Resource.LCBS_New_Icons, 'edit_icon.png')}");
        }
        
        /* Temp */
        .s-hidden {
            visibility:hidden;
            padding-right:10px;
        }
        .select {
            cursor:pointer;
            display:inline-block;
            position:relative;
            font:normal 11px/22px Arial, Sans-Serif;
            color:black;
            border:1px solid #ccc;
        }
        .styledSelect {
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
            background-color:white;
            padding:0 10px;
            font-weight:bold;
        }
        .styledSelect:after {
            content:"";
            width:0;
            height:0;
            border:5px solid transparent;
            border-color:black transparent transparent transparent;
            position:absolute;
            top:9px;
            right:6px;
        }
        .styledSelect:active, .styledSelect.active {
            background-color:#eee;
        }
        
        /* Tables */
        .table{
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px;
            background-color: transparent;
            
            border-collapse: inherit !important;
            /*border-spacing: 0;
            border-collapse: collapse; */
        }
        .table:last-child{
           margin-bottom: 0px; 
        }
        td, th {
           padding: 0;
        }
        th {
           text-align: left;
        }
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: middle;
        }
        .table>thead>tr>th{
            vertical-align: bottom;
        }
        .table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{
            border-top: 0;
        }
        
        .table-striped>tbody>tr:nth-of-type(odd){
            background-color: #f9f9f9;
        }
        .table>tbody>tr>td{
            border-bottom: 1px solid #ddd;
        }
        /*.table>tbody>tr:last-child>td{
            border-bottom: none;;
        } */
        .table>tbody>tr:first-child>td{
            border-top: 1px solid #ddd;
        }
               
        
        /* New Styles
        @media (min-width: 1025px){
            #body-inner, #ng-view-wrapper, #ng-view{
                display: block;
            }
        } */
        section#main-content .controls .sort-by .caret{
            background: url('https://az843473.vo.msecnd.net/common-images/caret.png') center center no-repeat;
            background-size: 9rem 6rem;
        }
        
        /* Building Owner */
        .building-owner-list{
           /* border: solid 1rem #e1e1e1;
            padding: 0 20rem; */
        }
        .building-owner-list li{
            border-top: solid 1rem #e1e1e1;
            background-size: 6rem 11rem;
        }
       /* .building-owner-list li:nth-of-type(odd){
            background-color: #f9f9f9;  
        }*/
        .building-owner-list li:first-child{
            /* border-top: none; */
        }
        .building-owner-list article{
            display: flex;
            align-items: center;
            height: 60rem;
            padding: 10rem 0;
        }
        .building-owner-list .name{
            float: left;
            display: block;
            width: 25%;
        }
        .building-owner-list .name.right{
            text-align: right;
        }
        @media (max-width: 1024px){
           .building-owner-list article{
               padding: 15rem;
               display: block;
               height: auto;
           }
           .building-owner-list article .name{
               width: 100%;
           }
        }
        
        /* User List */
        .employee-list{
            
        }        
        .employee-list li{
            border-top: solid 1rem #e1e1e1;
            background-size: 6rem 11rem;
        }
        .employee-list article{
            display: flex;
            align-items: center;
            padding: 0;
            min-height: 60rem;
            max-height: 100rem;
        }
        .employee-list .name,.employee-list .role,.employee-list .number,.employee-list .email,.employee-list .edit-action{
            float: left;
            display: block;
            width: 15%;
            padding-right: 50px;
        }
        .employee-list .role,.employee-list .number, .employee-list .email{
            font-family: 'Honeywell Sans Book';
            font-size: 1em;
        }
        .employee-list .name{
            font-size: 1em !important;
            color: #303030;
            width: 25%;
            word-break: break-word;
            word-wrap: break-word;
        }
        .employee-list .number{
            width: 20%;
        }
        .employee-list .edit-action{
            width: 5%;
            padding-right: 0;
            text-align: right;
        }
        .employee-list .email{
            color: #1792e5;
            width: 35%;
        }
        
        
        /* GRID View for SFDC */
        /*  SECTIONS  */
        .sfdc-row {
            clear: both;
            padding: 0px;
            margin: 0px;
        }
        
        /*  COLUMN SETUP  */
        .sfdc-col {
            display: block;
            float:left;
            /* margin: 1% 0 1% 1%; */
            padding: 10px 15px;
        }
        .sfdc-row.nopad .sfdc-col{
            padding: 0px;
        }
        .sfdc-row.noSidePad .sfdc-col{
            padding: 10px 0px;
        }
        .sfdc-col:first-child { margin-left: 0; }
        
        .sfdc-col article{
            height: 60rem;
            align-items: center;
            display: flex;
        }
        
        /*  GROUPING  */
        .sfdc-group:before,
        .sfdc-group:after { content:""; display:table; }
        .sfdc-group:after { clear:both;}
        .sfdc-group { zoom:1; /* For IE 6/7 */ }
        
        /*  GRID OF TWELVE  */
        .sfdc-col-12 {
            width: 100%;
        }
        
        .sfdc-col-11 {
            width: 91.58%;
        }
        .sfdc-col-10 {
            width: 83.16%;
        }
        
        .sfdc-col-9 {
            width: 74.75%;
        }
        
        .sfdc-col-8 {
            width: 66.33%;
        }
        
        .sfdc-col-7 {
            width: 57.91%;
        }
        
        .sfdc-col-6 {
            width: 49.5%;
        }
        
        .sfdc-col-5 {
            width: 41.08%;
        }
        
        .sfdc-col-4 {
            width: 32.66%;
        }
        
        .sfdc-col-3 {
            width: 24.25%;
        }
        
        .sfdc-col-2 {
            width: 15.83%;
        }
        
        .sfdc-col-1 {
            width: 7.416%;
        }
        
        /*  GO FULL WIDTH BELOW 480 PIXELS */
        @media only screen and (max-width: 480px) {
            .sfdc-col {  margin: 1% 0 1% 0%; }
            
            .sfdc-col-1, .sfdc-col-2, .sfdc-col-3, .sfdc-col-4, .sfdc-col-5, .sfdc-col-6, .sfdc-col-7, .sfdc-col-8, .sfdc-col-9, .sfdc-col-10, .sfdc-col-11, .sfdc-col-12 {
                width: 100%; 
            }
        }
        
        article dl{
            width: 100%;
        }
        
        /* DropDown SortBy */
        section#main-content .controls {
            float: right;
            font-size: 12rem;
        }
        
        section#main-content .controls .sortby-label {
            float: left;
            margin-right: 10rem;
            height: 30rem;
            line-height: 30rem;
            font-size: 12rem;
            text-transform: uppercase;
            color: #303030;
            font-family: 'Honeywell Sans Medium';
        }
        
        section#main-content .controls .sort-by {
            float: left;
            width: 154rem;
            height: 30rem;
            background-color: #fff;
            border: solid 1rem #e1e1e1;
            padding: 0 0 0 10rem;
            line-height: 30rem;
        }        
        section#main-content .controls .sort-by .caret {
            background: url('https://az843473.vo.msecnd.net/common-images/caret.png') center center no-repeat;
            background-size: 9rem 6rem;
            width: 29rem;
            margin: 3rem 0;
            height: 22rem;
            padding: 0 10rem;
            border-left: solid 1rem #e1e1e1;
            float: right;
        }
        
        .select-box{
            
        }
        .select-box .dropdown-toggle{
            float: left;
            width: 100%;
            height: 40px;
            background-color: #fff;
            border: solid 1rem #e1e1e1;
            padding: 5px 0px 5px 10rem;
            line-height: 30rem;
        }
        .select-box .dropdown-toggle .caret{
            background: url('https://az843473.vo.msecnd.net/common-images/caret.png') center center no-repeat;
            background-size: 9rem 6rem;
            width: 29rem;
            margin: 3rem 0;
            height: 22rem;
            padding: 0 10rem;
            border-left: solid 1rem #e1e1e1;
            float: right;
        }
        
        .select-box .dropdown-menu{
            min-width: 100%;
        }
        
                       
    </style>
    
    <!-- Header area directive -->
    <apex:actionFunction name="HelpIndexPage" action="{!helpIndexPageMethod}"/>
    
    <!-- Header -->
    <div id="header-wrapper">
        <header id="main-header" class="clearfix">
            <button id="nav-menu-button" data-toggling-class="nav-activated"  class="dropdown-toggle" onClick="toggleNav();" data-toggle="dropdown"><hr/></button>
            <div class="title clearfix">
                <span class="logo"></span>
                <span class="pipe"></span>
                <h1>LCBS Connect</h1>
            </div>
            
            <div class="links clearfix">
                <apex:outputlink rendered="{!isContractor}">
                    <a href="/LCBS_CompanyInfo" class="company">Company</a>
                </apex:outputlink>     
                <apex:outputLink rendered="{!isDistributor}">
                    <a href="/LCBS_Distributor_CompanyInfo" class="company">Company</a>
                </apex:outputLink>
                <hr/>
                <div class="dropdown">
                    <a href="#" class="user-name dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        {!$User.Firstname} {!$User.LastName}
                        <!-- <span class="lcbsCaret headerCaret"></span> -->
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <!-- <li><a class="headerText" href="https://account.activedirectory.windowsazure.com/ChangePassword.aspx">Change Password</a></li> -->
                        <li><apex:outputLink styleClass="headerText" value="/LCBS_NotificationPreferences" rendered="{!isContractor}">Notification Preferences</apex:outputLink></li>
                       <!-- <li><a class="headerText" href="http://login.microsoftonline.com/logout.srf">Logout</a></li> -->
                       <!--<li> <a class="headerText"> <apex:outputLink value="{!$Site.Prefix}/secur/logout.jsp" rendered="{!NOT(ISPICKVAL($User.UserType,'Guest'))}">{!$Label.site.logout}</apex:outputLink> </a></li> -->
                       <li><a class="headerText" href="{!$Site.Prefix}/secur/logout.jsp">Logout</a></li> 
                                
                    </ul>
                </div>
                <span class="help"></span>            
            </div> <!-- /. links -->
        </header>
    </div> <!-- /# header-wrapper -->
    <!-- /. Header -->
    
    <!-- Nav Wrapper -->
    <apex:outputPanel rendered="{!isContractor}">  
    <div id="nav-wrapper">
        <nav id="main-nav">
            <ul class="clearfix">
                <li ng-class="(vm.active === 'home') ? 'dropdown active' : 'dropdown'"><a data-href="/app/home" href="{!HomeUrl}">Home</a></li>
                <li ng-class="(vm.active === 'buildings') ? 'dropdown active' : 'dropdown'"><a data-href="/app/buildings" href="{!BuildingUrl}" class="active">Buildings</a></li>
                <li ng-class="(vm.active === 'reports') ? 'dropdown active' : 'dropdown'"><a data-href="#" href="#">Reports</a></li>                             
            </ul>
        </nav>
    </div>
    </apex:outputPanel>
    
    <apex:outputPanel rendered="{!isDistributor}">  
    <div id="nav-wrapper">
        <nav id="main-nav">
            <ul class="clearfix">
                <li ng-class="(vm.active === 'home') ? 'dropdown active' : 'dropdown'" class="active">
                <a href="/LCBSContractorPage">Home</a>
                </li>
            </ul>
        </nav>
    </div>
    </apex:outputPanel>
    <!-- /. nav-wrapper -->
</apex:component>