<apex:component >
<div class="container">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> <apex:image value="{!URLFOR($Resource.Honeywell_logo,'honeywell-logo.png')}" width="100" height="25"/> </a>
        </div>
        <div class="collapse navbar-collapse" id="lcbsnavbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#"> | </a>
                </li>
                <li>
                    <a href="#"> Light Commercial Buildings Solutions </a>
                </li>
            </ul>
       
        </div>
     </div>
</nav>
</div>
</apex:component>