<apex:page sidebar="false">
    <apex:iframe src="https://azure.microsoft.com/en-us/"  id="theFrame" />
    <script>
    (function() { //this wrapper prevents pollution of the global scope
        var windowOnresize = window.onresize;
        window.onresize = function() {
            if (windowOnresize) windowOnresize(); //don't trample the handler; intercept it
            document.getElementById('theFrame').height = window.innerHeight - 220;
        };
    }());
</script>
</apex:page>