<apex:page sidebar="false" showChat="false" showHeader="false" controller="LCBS_NotificationPreferencesController" standardStylesheets="false">
  <apex:form id="form" >
    <html>
        <head>
            <apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js" / >
            <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
            <script>
                 j$ = jQuery.noConflict();
                 j$(document).ready( function () {
                 j$('.dropdown-toggle').dropdown();
                 });
            </script>
             <script>
            
                j$ = jQuery.noConflict();
                j$(document).ready( function () {
                  j$('.dropdown-toggle').dropdown();
                });
                
                function CallJS(data){
                    paraFunction(data);
                }
                function BlockUI() { 
                    $('.modal').show();
                }
                        
                function unBlockUI() { 
                    $('.modal').hide();
                }
            </script>
            <style>
                .margin-right-35{
                    margin-right: 35px;                    
                }
                .arti-row{
                    align-items: center;
                    display: flex;
                    margin-bottom: 20px;
                }
                .arti-row .label{
                    width: 215px;
                }
                .save-btn {
                    margin-left: 17px;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    display: inline;
                }
                .cancel-btn {
                    outline: none;
                    border: none;
                    padding: 0;
                    background: transparent;
                    cursor: pointer;
                    color: #1792e5;
                }
                
             </style>
        </head>  
        <body class="ng-scope">
            <c:LCBS_Mobile_Nav /> <!-- mobile nav -->
            
            <!-- body-inner -->
            <div id="body-inner" class="background">
                <div class = "modal" style = "display:none;">  
                    <p  style="position: fixed; padding-top: 25%;font-weight: bold;color: black;padding-left: 46%;font-size: 16px;" id="msgBlock"><b>Please Wait...</b></p>
                </div>
                
                <c:LCBSDistributorHeader_New_Latest />
                <apex:pageMessages />  
                <!--  ng-view-wrapper -->
                <div id="ng-view-wrapper">
                    <div id="ng-view" class="ng-scope">
                        <div id="main-body">
                            <section id="main-content" style="padding:0px;">
                                <header class="clearfix">
                                    <h1>Notification Preferences</h1>
                                </header>
                                
                                <div class="sfdc-row clearfix ">
                                    <div class="sdfc-col sdfc-col-12">
                                        <article class="clearfix arti-row">
                                            <span class="label"><label for="inputEmail3">High Priority Alerts</label></span>
                                            <apex:inputField Styleclass="formField form-control form-control-custom form-custom-input" value="{!c.High_Priority__c}" />
                                        </article>
                                    </div>
                                    
                                    <div class="sdfc-col sdfc-col-12">
                                        <article class="clearfix arti-row">
                                            <span class="label"><label for="inputEmail3">Medium Priority Alerts</label></span>
                                            <apex:inputField Styleclass="formField form-control form-control-custom form-custom-input" value="{!c.Medium_Priority__c}" />
                                        </article>
                                    </div>
                                    
                                    <div class="sdfc-col sdfc-col-12">
                                        <article class="clearfix arti-row">
                                            <span class="label"><label for="inputEmail3">Low Priority Alerts</label></span>
                                            <apex:inputField Styleclass="formField form-control form-control-custom form-custom-input" value="{!c.Low_Priority__c}" />
                                        </article>
                                    </div>
                                    
                                    <div class="sdfc-col sdfc-col-12" style="margin-top:50px;">
                                        <article class="clearfix arti-row">
                                            <span class="label"><label for="inputEmail3">Email</label></span>
                                            <span class="linkText"><apex:outputField value="{!c.Email}" /></span>
                                        </article>
                                    </div>
                                    
                                    <div class="sdfc-col sdfc-col-12">
                                        <article class="clearfix arti-row">
                                            <span class="label"><label for="inputEmail3">Text Messaging Number</label></span>
                                            <span class="linkText"><apex:outputField value="{!c.phone}" styleClass="linkText"/></span>
                                        </article>
                                    </div>
                                    
                                    <div class="sdfc-col sdfc-col-12" style="margin-top:50px;">
                                        <apex:actionFunction name="cancelNotification" action="{!alertInfoCancel}"/>
                                        <input type="button" value="Cancel" onclick="cancelNotification();" class="linkText cancel-btn" style="font-size: initial;" /> 
                                        <apex:commandButton value="Save" action="{!alertInfoSave}" styleClass="primary-button save-btn" style="margin-left: 15px;"/>
                                    </div>
                                </div>
                                
                                <div class="sfdc-row clearfix ">
                                    
                                </div>
                            </section>
                        </div>
                        <!-- #main-body -->
                    </div>
                    <!-- #ng-view -->
                </div>
                <!--  ng-view-wrapper -->
                
                <!-- Footer -->
                <c:LCBS_footer_new_latest />
                <!-- /. footer -->
                
            </div>
            <!-- body-inner -->
        </body>
      </html>
    </apex:form>         
</apex:page>