<!--------------
Name         : LCBSNewUser
Created By   : Chiranjeevi Gogulakonda
Company Name : NTT Data
Project      : LCBS
Created Date : 
Test Class   :  
Test Class URL: 
Usages       : 
Modified By  : Nagarajan Varadarajan
---------->
<apex:page controller="LCBSManageUsersController" showChat="false" showHeader="false" sidebar="false" standardStylesheets="true">
  <apex:form >
    <!-- 
<apex:pageMessages />
-->
     <apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js" / >
       <script>
         
         j$ = jQuery.noConflict();
         j$(document).ready( function () {
           j$('.dropdown-toggle').dropdown();
           
         }
                           );
       </script>
       <html lang="en">
         <head>
           <meta charset="utf-8"/>
           <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
           <meta name="viewport" content="width=device-width, initial-scale=1"/>
           <meta name="description" content=""/>
           <meta name="author" content=""/>
           <link rel="icon" href="../../favicon.ico"/>
           
           <title>
             Honeywell LCBS Contractor Portal
           </title>
           
           <!-- Bootstrap core CSS -->
           
           
           <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
           <!--[if lt IE 9]>
<script src="js/ie8-responsive-file-warning.js">
</script>
<![endif]-->
    <script src="js/ie-emulation-modes-warning.js">
    </script>
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js">
    </script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">
    </script>
    
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/bootstrap.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/honeywell-lcbs.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}" />
    
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>
    
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js">
    </script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">
    </script>
    
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
<script src="js/ie8-responsive-file-warning.js">
</script>
<![endif]-->
    <script src="js/ie-emulation-modes-warning.js">
    </script>
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js">
</script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">
</script>
<![endif]-->
    <style>
      table, th, td {
        border-collapse: collapse;
        
      }
      th, td {
        padding: 5px ;
        
      }
      td
      {
        margin-right:30px;
        
      }
    </style>
    
  </head>
  
  <body>
    
    <c:LCBSCommunityHeader />
    <apex:actionFunction name="sendEmail" action="{!outboundEmail}"/>
     <div style="background-color:#595959; color:grey;padding:20px; margin-top:-2px; text-align:center;">
       <h1>
         Add a New User
       </h1>
     </div>
     <br/>
     <div class="container">
       <apex:pageBlock >
         
         
         <div class="form-group">
           <label>
First Name
           </label>
           
           <br/>
           
           <apex:inputtext value="{!firstName}" styleClass="form-control" id="comptextinput1"/>
           
           
         </div>
         
         <div class="form-group">
           <label>
            Last Name
           </label>
           
           <br/>
           
           <apex:inputtext value="{!lastName}" styleClass="form-control" id="comptextinput2"/>
           
           
         </div>
         
         
         
           
              <div class="form-group">
                <label>
                  Role 
                </label>
                
                <br/>
                
                <apex:selectList id="CompanyLoc1" styleClass="form-control" required="true" value="{!Role}" size="1">
                 
                                <apex:selectOptions value="{!Roleoptions}" />
                                
                             </apex:selectList>
                             
              </div>
         
       
       <div class="form-group">
                <label>
                  Contractor Company Location
                </label>
                
                <br/>
                
                <apex:selectList id="CompanyLoc" styleClass="form-control" required="true" value="{!CompanyLocation}" size="1">
                  <!-- 
<apex:selectList id="CompanyLoc" styleClass="form-control" required="true" value="{!CompanyLocation}" size="1">
-->
                                <apex:selectOptions value="{!CompanyLocOptions}" />
                                
                             </apex:selectList>
                             
              </div>
         
         
         
         <div class="form-group">
           <label>
            Phone Number
           </label>
           
           <br/>
           
           <apex:inputtext value="{!phoneNumber}" styleClass="form-control" id="comptextinput3"/>
           
           
         </div>
         
          <div class="form-group">
           <label>
            Email/UserName
           </label>
           
           <br/>
           
           <apex:inputtext value="{!ContactEmail}" styleClass="form-control" id="comptextinput13"/>
           
           
         </div>
         
         
         
          <div class="form-group">
                <label>
                 Time Zone
                </label>
                
                <br/>
                
                <apex:selectList id="CompanyLoc90" styleClass="form-control" required="true" value="{!timeZone}" size="1">
                  <!-- 
<apex:selectList id="CompanyLoc" styleClass="form-control" required="true" value="{!CompanyLocation}" size="1">
-->
                                <apex:selectOptions value="{!TimeZoneOptions}" />
                                
                             </apex:selectList>
                             
              </div>
              
              
              
         
         
         <!--  
<div class="form-group">
<label>
Role
</label>

<br/>
<apex:inputField value="{!Contactinfo.Role__c}" />

</div>
-->

<!--
              <div class="form-group">
                <label>
                  Role
                </label>
                
                <br/>
                <apex:selectList id="Role" styleClass="form-control" value="{!Role}" size="1">
                  
                  <apex:selectOptions value="{!Roleoptions}"/>
                  
                </apex:selectList>
                
              </div>
       -->       
              
              
              
              
              <!-- 
<div class="form-group">
<label>
Role
</label>

<br/>
<apex:selectList id="Role" styleClass="form-control" value="{!Role}" required="true" size="1">

<apex:selectOptions value="{!RoleOptions}"/>

</apex:selectList>

</div>
-->
                        
                       
              
              <apex:commandButton value="Cancel" action="{!cancelUser}"/>
              
              
              <!--  
<input type="button" style="background:#3784DE;width:12%;height:30px;text-align:center;border-radius:5px;" value="Add New User" name="button" class="button" onclick="sendEmail();" />
&nbsp; -->
              
              
              <apex:commandButton value="Add New User" action="{!outboundEmail}"/>
              
              </apex:pageBlock>
              
     </div>
     
     
     <!-- /.container -->
     <!-- Bootstrap core JavaScript
================================================== -->
     <!-- Placed at the end of the document so the pages load faster -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
     </script>
     <script src="js/bootstrap.min.js">
     </script>
     <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
     <script src="js/ie10-viewport-bug-workaround.js">
     </script>
      
  </body>
   </html>
   
     </apex:form>
     
  </apex:page>