<!--------------
Name         : LCBS_BuildingInformation_Edit
Created By   : Chiranjeevi Gogulakonda
Company Name : NTT Data
Project      : LCBS
Created Date : 
Test Class   :  
Test Class URL: 
Usages       : 
Modified By  :
---------->

<apex:page controller="LCBS_BuildingInformation_Edit_Controller" showChat="false" showHeader="false" sidebar="false" standardStylesheets="true">
  <apex:form >
   <html>
  <apex:pageMessages />
  
  
   <apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js" / >
         <script>
        
            j$ = jQuery.noConflict();
            j$(document).ready( function () {
              j$('.dropdown-toggle').dropdown();
               
                 
            });
           
        </script>
   
    <head>
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <meta name="description" content=""/>
      <meta name="author" content=""/>
      <link rel="icon" href="../../favicon.ico"/>
      
      <title>
        Honeywell LCBS Contractor Portal
      </title>
      
      <!-- Bootstrap core CSS -->
      <link href="css/bootstrap.min.css" rel="stylesheet"/>
      <link href="css/sticky-footer.css" rel="stylesheet"/>
      
      <!-- Custom styles for Honeywell LCBS template -->
      <link href="css/honeywell-lcbs.css" rel="stylesheet"/>
      
      <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
      <!--[if lt IE 9]>
<script src="js/ie8-responsive-file-warning.js">
</script>
<![endif]-->
    <script src="js/ie-emulation-modes-warning.js">
    </script>
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js">
</script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">
</script>
<![endif]-->
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/bootstrap.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/honeywell-lcbs.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}" />
    
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, '/js/js/bootstrap.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, '/js/js/bootstrap.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, '/js/js/npm.js')}"/>
   
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js">
      </script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">
      </script>
      
      <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
      <!--[if lt IE 9]>
<script src="js/ie8-responsive-file-warning.js">
</script>
<![endif]-->
      <script src="js/ie-emulation-modes-warning.js">
      </script>
      
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js">
</script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">
</script>
<![endif]-->
      <style>
        table, th, td {
          border-collapse: collapse;
          
        }
        th, td {
          padding: 5px ;
          
        }
        td
        {
          margin-right:30px;
          
        }
      </style>
    </head>
    
    <body>
      
        <c:LCBSCommunityHeader rendered="{!!isDistributor}" />
          <c:LCBS_DistributorView_Navigation_Menu rendered="{!isDistributor}"/>  
      
      <div style="background-color:#595959; color:grey;padding:20px; margin-top:-2px; text-align:center;">
        <h1>
          Edit Building
        </h1>
      </div>
      <br/>
      <div class="container">
        <ol class="breadcrumb">
          <!-- 
<li>
<a href="contractor-building-locations.html">
<strong>
Return to Buildings
</strong>
</a>
</li>
-->
 <apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js" / >
         <script>
        
            j$ = jQuery.noConflict();
            j$(document).ready( function () {
              j$('.dropdown-toggle').dropdown();
               
                 
            });
           
        </script>
  <a styleClass="btn btn-default" href="/LCBS_AllBuildings">
    Return to Buildings
  </a>
      </ol>
      
      <div class="row">
   
          <div class="col-md-8">
           <!--   <TABLE style="width:150%;">
              
              <tr>
                
                <td width="30%" height="60%" valign="Top">
                  <apex:pageBlock title="Location" >
                    <apex:pageBlockSection columns="1">
                    <label style="font-weight:normal;">Name</label>
                      <apex:selectList id="buildingownerPicklist" styleClass="form-control" value="{!fetchinfo.Building_Owner__c }" size="1" label="">
                        
                        <apex:selectOptions value="{!BuildingOwnerOptions}"/>
                        
                      </apex:selectList>
                      
                      <label style="font-weight:normal;">Site Name (optional, if associated with another building on an existing site)</label>
                      <apex:selectList id="SiteLookupPicklist" styleClass="form-control" value="{!fetchinfo.Site__c}" size="1" label="">
                        
                        <apex:selectOptions value="{!SiteOptions}"/>
                        
                      </apex:selectList>
                      <label style="font-weight:normal;">Or Create a New Site Name (Optional)</label>
                      <apex:inputField Styleclass="form-control" value="{!fetchinfo.Name}" label=""/> 
                      <label style="font-weight:normal;">Address</label>
                      <apex:inputField Styleclass="form-control" value="{!fetchinfo.Address__c}" label=""/>
                      <label style="font-weight:normal;">City</label>
                      <apex:inputField Styleclass="form-control" value="{!fetchinfo.City__c}" label=""/>
                      <label style="font-weight:normal;">Country</label>
                      <apex:inputField Styleclass="form-control" value="{!fetchinfo.Country__c}" label=""/>
                      <label style="font-weight:normal;">State</label>
                      <apex:inputField Styleclass="form-control" value="{!fetchinfo.State__c}" label=""/>
                      <label style="font-weight:normal;">Postal Code</label>
                      <apex:inputField Styleclass="form-control" value="{!fetchinfo.Postal_Code__c}" label=""/>
                      <label style="font-weight:normal;">Time Zone</label>
                      <apex:inputField Styleclass="form-control" value="{!fetchinfo.Time_Zone__c}" label=""/>
                      
                      
                    </apex:pageBlockSection>
                  </apex:pageBlock>
                </td>
                <td width="5%">
                </td>
                
                <td width="25%" height="60%" valign="Top">
                  <apex:pageBlock title="Contact">
                    <apex:pageBlockSection columns="1" >
                    <label style="font-weight:normal;">First Name</label>
                      <apex:inputField Styleclass="form-control" value="{!fetchinfo.First_Name__c}" label=""/>
                      <label style="font-weight:normal;">Last Name</label>
                      <apex:inputField Styleclass="form-control" value="{!fetchinfo.Last_Name__c}" label=""/>
                      <label style="font-weight:normal;">Title</label>
                      <apex:inputField Styleclass="form-control" value="{!fetchinfo.Title__c}" label=""/>
                      <label style="font-weight:normal;">Phone Number</label>
                      <apex:inputField Styleclass="form-control" value="{!fetchinfo.Phone_Number__c}" label=""/>
                      <label style="font-weight:normal;">Email Address</label>
                      <apex:inputField Styleclass="form-control" value="{!fetchinfo.Email_Address__c}" label=""/>
                      
                    </apex:pageBlockSection>
                  </apex:pageBlock>
                </td>
                <td width="5%">
                </td>
                
                <td width="35%" height="60%" valign="Top">
                  <apex:pageBlock title="Assigned User">
                    <apex:pageBlockSection columns="1" >
                      <label style="font-weight:normal;">Contractor Company Location</label>
                      <apex:selectList id="ContractorCompanyLookupPicklist" styleClass="form-control" value="{!fetchinfo.Contractor_Company_Location__c}" size="1" label="">
                        
                        <apex:selectOptions value="{!ContractorCompanyLocOptions}"/>
                        
                      </apex:selectList>
                      <label style="font-weight:normal;">Primary Distributor</label>
                      <apex:selectList id="PrimaryDisLookupPicklist" styleClass="form-control" value="{!fetchinfo.Dispatcher__c}" size="1" label="">
                        
                        <apex:selectOptions value="{!PrimaryDispatcherOptions}"/>
                        
                      </apex:selectList>
                      <label style="font-weight:normal;">Secondary Distributor</label>
                      <apex:selectList id="SeconDisLookupPicklist" styleClass="form-control" value="{!fetchinfo.Alternate_Dispatcher__c}" size="1" label="">
                        
                        <apex:selectOptions value="{!SeconDispatcherOptions}"/>
                        
                      </apex:selectList>
                      <label style="font-weight:normal;">Primary Technician</label>
                      <apex:selectList id="PrimaryTechLookupPicklist" styleClass="form-control" value="{!fetchinfo.Technician__c}" size="1" label="">
                        
                        <apex:selectOptions value="{!PrimaryTechOptions}"/>
                        
                      </apex:selectList>
                      <label style="font-weight:normal;">Secondary Technician</label>
                      <apex:selectList id="SeconTechLookupPicklist" styleClass="form-control" value="{!fetchinfo.Alternate_Technician__c}" size="1" label="">
                        
                        <apex:selectOptions value="{!SecondaryTechOptions}"/>
                        
                      </apex:selectList>
                    </apex:pageBlockSection>
                    
                  </apex:pageBlock>
               <div>
                <apex:commandButton action="{!cancel}" value="Cancel"/>
                    &nbsp;
                     <apex:commandButton action="{!save}" value="Save" style="background:#3784DE;width:16%;height:28px;text-align:center;border-radius:2px;color:white;"/>
                     
               </div>
                </td>
                
               
              </tr>
              
              
            </table> -->
           
            
                        
            
            
            
            <!--div class="form-group">
<label for="exampleZip">
Name
</label>
<apex:inputField label="Name" styleclass="form-control" style="width:120px; height:35px;" value="{!Building__c.Name}"/>
</div>

<div class="form-group">
<label for="exampleBranch">
Site Name (optional) 
</label>
<select class="form-control" style="width:120px; height:35px;">
<option>
none
</option>
<option>
Nokomis Office Park
</option>
<option>
Wells Fargo Plaza
</option>
</select>
</div>

<div class="form-group">
<label for="exampleNewsite">
Or create a New Site Name (optional) 
</label>

<br/>
<input type="text" styleclass="form-control" style="width:120px; height:35px;" id="exampleAddress1"/>
</div>

<div class="form-group">
<label for="exampleZip">
Address 1
</label>
<apex:inputField label="Address 1" styleclass="form-control" style="width:120px; height:35px;" value="{!Building__c.Address_1__c}"/>
</div>

<div class="form-group">
<label for="exampleZip">
Address 2
</label>
<apex:inputField label="Address 2" styleclass="form-control" style="width:120px; height:35px;" value="{!Building__c.Address_2__c}"/>
</div>

<div class="form-group">
<label for="exampleZip">
City
</label>
<apex:inputField label="City" styleclass="form-control" style="width:120px; height:35px;" value="{!Building__c.City__c}"/>
</div>

<div class="form-group">
<label for="exampleZip">
Country
</label>
<apex:inputField label="Country" styleclass="form-control" style="width:120px; height:35px;" value="{!Building__c.Country__c}"/>
</div>

<div class="form-group">
<label for="exampleZip">
State
</label>

<br/>
<apex:inputField label="State" styleclass="form-control" style="width:120px; height:35px;" value="{!Building__c.State__c}"/>
</div>

<div class="form-group">
<label for="exampleZip">
Postal code
</label>
<apex:inputField label="Postal code" styleclass="form-control" style="width:120px; height:35px;" value="{!Building__c.Postal_Code__c}"/>
</div>

<div class="form-group">
<label for="exampleBranch">
Time Zone
</label>

<br/>
<apex:inputField label="Time Zone" styleclass="form-control" style="width:120px; height:35px;" value="{!Building__c.Time_Zone__c}"/>
</div>
-->
   
   
  </div>
  
  
      </div>
      
      <!--div class="alert alert-warning" role="alert">
<h4>
Design notes:
</h4>
<ul>
<li>
Country defaults to United States and provides state pick list; if changed to another country, "State" label should change to "Region" (?) and pick list changes to standard text field.
</li>
<li>
Alternative: should Postal Code be earlier, and used to populate state and country after entered?
</li>
<li>
Site Name: If the building is associated with other buildings on a site, HUE proposes a pick list for existing sites. A field is also provided to create a New Site, which would then populate future pick lists. Site Names would be associated to Building Owners.
</li>
</ul>
</div>
-->
    </div>
    </body>
    
    <!-- /container -->
    
    <!--footer class="footer">
<div class="container">
<div class="alert alert-success" role="alert">
<span class="glyphicon glyphicon-ok">
</span>
Approved by product owners on March 11, 2015.
</div>
</div>

</footer>
-->
    
    <!-- /container -->
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    </script>
    <script src="js/bootstrap.min.js">
    </script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js">
    </script>
    
    
    
   </html>
     </apex:form>
  </apex:page>