<!--------------
Name         : LCBS_Honeywell_Dashboard
Created By   : Nagarajan Varadarajan
Company Name : NTT Data
Project      : LCBS
Created Date : 
Test Class   :  
Test Class URL: 
Usages       : 
Modified By  :
---------->
<apex:page showChat="false" showHeader="false" sidebar="false" standardStylesheets="true">
<apex:form >
 <apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js" / >
 <script>
         
         j$ = jQuery.noConflict();
         j$(document).ready( function () {
           j$('.dropdown-toggle').dropdown();
           
         }
                           );
       </script>

<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>
     <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/bootstrap.min.css')}" />
     <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/honeywell-lcbs.css')}" />
     <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}" />
     <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
     <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
     <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>
    <title>Honeywell LCBS Contractor Portal</title>

    
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

   <c:LCBS_HoneywellView_NavigationMenu />
   <div style="background-color:#595959; color:grey;padding:20px; margin-top:-2px; text-align:center;">   
   <h1>Honeywell Dashboard</h1>
   </div>
    <div class="container">

      <div class="starter-template">
      <div class="well well-lg">
      <p>Analytics dashboard for Honeywell Sales</p>
      </div>

<a href="/apex/LCBS_Add_New_Distributor" class="btn btn-primary btn-lg btn-block" style="background:#3784DE;height:45px;border-radius:2px;color:white;font-size:20px;padding-top:7px;font-weight: normal;">Add a New Distributor</a>
<br/>
<a href="index.html" class="btn btn-default" role="button" style="background:white;font-weight:normal;height:35px;padding:7px;border-radius:2px;font-size:14px;border-color: #ccc;">Sign in as a different role</a>


</div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>

  </body>
</html>





</apex:form>
</apex:page>